<body class='d-flex flex-column'>
	<%= render 'components/navbar', page: 'success' %>
	<div class='d-flex justify-content-center align-items-center flex-grow-1'>
		<h1>Thank you for your order!</h1>
	</div>
</body>