<header>
	<%= stylesheet_link_tag 'home' %>
</header>
<body>
	<%= render 'components/navbar', page: 'home' %>
	<div class='d-flex flex-row' style='align-content: start'>
		<div class='container-fluid w-75'>
		<% @items.each_slice(3) do |items| %>
			<div class = 'row justify-content-around mb-5'>
				<% items.each do |item| %>
					<%= render 'item', item: item %>
				<% end %>
			</div>
		<% end %>
		</div>
	</div>
</body>